body {
  background-color: #0d0d0d;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  padding: 20px;
  background: linear-gradient(135deg, #0d0d0d 20%, #282828 80%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
h1 {
  text-align: center;
  font-size: 3em;
  color: #39ff14; /* Neon green */
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14,
    0 0 40px #39ff14;
  margin-bottom: 20px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

#controls {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.slider {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 10px;
  background: #333;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), inset 0 0 10px rgba(0, 255, 0, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #39ff14;
  cursor: pointer;
  box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #39ff14;
  cursor: pointer;
  box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  border: 2px solid #39ff14;
  background-color: #0d0d0d;
  color: #39ff14;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px #39ff14, 0 0 40px #39ff14;
}

button:hover {
  background-color: #39ff14;
  color: #0d0d0d;
  box-shadow: 0 0 40px #39ff14, 0 0 80px #39ff14;
}

#bubbleGarden {
  display: block;
  margin: 20px auto;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(57, 255, 20, 0.3);
  padding: 15px;
  border: 2px solid #39ff14;
}

#instructions {
  font-size: 1.3em;
  text-align: center;
  color: #ccc;
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
